@(message: String)

@main("Criar cliente") {
  <form action="/cliente/novo" method="post">
    <h1>Cadastro de cliente</h1>
    <label for="codigo">Código</label>
    <input type="text" name="codigo" id="codigo">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">
    <label for="cpf">Cpf</label>
    <input type="text" name="cpf" id="cpf">
    <input type="submit" value="Cadastrar">
  </form>
}
