@(clientes: List[Cliente])

@main("Lista de clientes") {
  <section class="panel panel-default">
    <header class="panel-heading">
      <h2 class="panel-title">Lista de clientes</h2>
    </header>
    <div class="panel-body">
      <a class="btn btn-info" href="@routes.ClienteController.formularioCliente">Criar novo cliente</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Código</td>
            <td>Nome</td>
            <td>CPF</td>
          </tr>
        </thead>
        <tbody>
          @for(cliente <- clientes) {
          <tr>
            <td>@cliente.getCodigo()</td>
            <td>@cliente.getNome()</td>
            <td>@cliente.getCpf()</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
}
